/* Will be compiled down to a single stylesheet with your sass files */

body {
    background: -webkit-linear-gradient(top, #0f394f 0%, #000 100%);
    background: #0f394f; /* Old browsers */
    background: -moz-linear-gradient(top, #0f394f 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f394f), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -o-linear-gradient(top, #0f394f 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0f394f 0%,#000 100%); /* IE10+ */
    background: linear-gradient(top, #0f394f 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f394f', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-bottom: 40px;
    z-index: 0;
    position: relative;

    color: white;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #22afca, 0 0 10px #22afca, 0 0 15px #22afca;
    /*font-family: "Droid Sans", sans-serif;*/
    font-family: 'Source Code Pro', sans-serif;
}

.big_ice {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #22afca, 0 0 10px #22afca, 0 0 15px #22afca;
    -webkit-box-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 30px #22afca,
    0 0 35px #22afca,
    0 0 45px #22afca,
    0 0 60px #22afca,
    inset 0 0 10px white,
    inset 0 0 20px white,
    inset 0 0 30px #22afca,
    inset 0 0 40px #22afca,
    inset 0 0 45px #22afca
;
}

.fire {
    text-shadow: 0 0 1px #eecd30, 0 0 3px #eecd30, 0 0 5px #fe601e, 0 0 10px #fe601e;
    -webkit-box-shadow: 0 0 5px #eecd30,
    0 0 10px #eecd30,
    0 0 15px #fe601e,
    0 0 17px #fe601e,
    0 0 22px #fe601e,
    0 0 30px #fe601e,
    inset 0 0 5px #eecd30,
    inset 0 0 10px #eecd30,
    inset 0 0 15px #fe601e,
    inset 0 0 20px #fe601e,
    inset 0 0 22px #fe601e
;
}

.btn_ice {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #22afca, 0 0 10px #22afca, 0 0 15px #22afca;
    -webkit-box-shadow: 0 0 5px white,
    0 0 15px #22afca,
    0 0 22px #22afca,
    inset 0 0 5px white,
    inset 0 0 15px #22afca,
    inset 0 0 22px #22afca;
}

.btn_ice:hover,
.btn_ice:focus {
    -webkit-box-shadow: 0 0 5px white,
    0 0 10px white,
    0 0 15px #22afca,
    0 0 17px #22afca,
    0 0 22px #22afca,
    inset 0 0 5px white,
    inset 0 0 10px white,
    inset 0 0 15px #22afca,
    inset 0 0 20px #22afca,
    inset 0 0 22px #22afca;
}

.btn_ice:active {
    color: transparent;
    text-shadow: none;
    background-color: #fff;
}

.btn_fire {
    text-shadow: 0 0 1px #eecd30, 0 0 3px #eecd30, 0 0 7px #fe601e, 0 0 10px #fe601e, 0 0 15px #fe601e;
    -webkit-box-shadow: 0 0 5px #eecd30,
    0 0 15px #fe601e,
    0 0 22px #fe601e,
    inset 0 0 5px #eecd30,
    inset 0 0 15px #fe601e,
    inset 0 0 22px #fe601e;
}

.btn_fire:hover,
.btn_fire:focus {
    -webkit-box-shadow: 0 0 5px #eecd30,
    0 0 10px #eecd30,
    0 0 15px #fe601e,
    0 0 17px #fe601e,
    0 0 22px #fe601e,
    inset 0 0 5px #eecd30,
    inset 0 0 10px #eecd30,
    inset 0 0 15px #fe601e,
    inset 0 0 20px #fe601e,
    inset 0 0 22px #fe601e;
}

.btn_fire:active {
    color: transparent;
    text-shadow: none;
    background-color: #eecd30;
}

.done-true {
    text-decoration: line-through;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #15e90e, 0 0 10px #15e90e, 0 0 15px #15e90e;
}

@-webkit-keyframes opening_bloc_width {
    from { width: 10px; }
    to { width: 100%; }
}

@-webkit-keyframes opening_bloc_height {
    from { height: 10px; }
    to { height: 200px; }
}

.container_form_todo {
    height: 10px;
    margin: 10px auto ;
    border-radius: 2px;
    border: 10px solid white;
    overflow: hidden;

    -webkit-animation: opening_bloc_width 1s ease-out, opening_bloc_height 1s 1s ease-in-out forwards;
}
.container_form_todo form {
    margin-top: 50px;
    margin-left: 30px;
}

input[type="submit"],
input[type="button"]
{
    background-color: transparent;
    border: 2px solid white;

    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;

    font-family: inherit;
    color: white;

    border-radius: 2px;
    width: auto;
}

.toolbarOption {
    float: left;
    margin: 20px;

    height: 50px;
    line-height: 50px;
    text-align: center;
}
