/* Will be compiled down to a single stylesheet with your sass files */

body {
    background: -webkit-linear-gradient(top, #0f394f 0%, #000 100%);
    background: #0f394f; /* Old browsers */
    background: -moz-linear-gradient(top, #0f394f 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f394f), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -o-linear-gradient(top, #0f394f 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0f394f 0%,#000 100%); /* IE10+ */
    background: linear-gradient(top, #0f394f 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f394f', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-bottom: 40px;
    z-index: 0;
    position: relative;

    color: white;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #22afca, 0 0 10px #22afca, 0 0 15px #22afca;
    /*font-family: "Droid Sans", sans-serif;*/
    font-family: 'Source Code Pro', sans-serif;
}

.ice {
    -webkit-box-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 30px #22afca,
    0 0 35px #22afca,
    0 0 45px #22afca,
    0 0 60px #22afca,
    inset 0 0 10px white,
    inset 0 0 20px white,
    inset 0 0 30px #22afca,
    inset 0 0 40px #22afca,
    inset 0 0 45px #22afca
;
}

.fire {
    -webkit-box-shadow: 0 0 10px #eecd30,
    0 0 20px #eecd30,
    0 0 30px #fe601e,
    0 0 35px #fe601e,
    0 0 45px #fe601e,
    0 0 60px #fe601e,
    inset 0 0 10px #eecd30,
    inset 0 0 20px #eecd30,
    inset 0 0 30px #fe601e,
    inset 0 0 40px #fe601e,
    inset 0 0 45px #fe601e
;
}

.done-true {
    text-decoration: line-through;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #15e90e, 0 0 10px #15e90e, 0 0 15px #15e90e;
}

@-webkit-keyframes opening_bloc_width {
    from { width: 10px; }
    to { width: 100%; }
}

@-webkit-keyframes opening_bloc_height {
    from { height: 10px; }
    to { height: 200px; }
}

.container_form_todo {
    height: 10px;
    margin: 10px auto ;
    border-radius: 2px;
    border: 10px solid white;
    overflow: hidden;

    -webkit-animation: opening_bloc_width 2s ease-out, opening_bloc_height 2s 2s ease-in-out forwards;
}
.container_form_todo form {
    margin-top: 50px;
    margin-left: 30px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bce7ef;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bce7ef;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bce7ef;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bce7ef;
}

input[type="text"] {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #22afca, 0 0 7px #22afca, 0 0 10px #22afca;
    /*text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #22afca, 0 0 7px #22afca, 0 0 8px #22afca, 0 0 10px #22afca, 0 0 15px #22afca;*/

    /*border-radius: 2px;*/
    /*border: 2px solid white;*/

}

input[type="submit"] {
    background-color: black;
    color: white;
    text-shadow: 0 0 1px #eecd30, 0 0 3px #eecd30, 0 0 5px #fe601e, 0 0 10px #fe601e;

    border-radius: 2px;
    border: 2px solid white;
    width: 100px;
}